img {
    heigt: auto;
    width: 900px;
}

h1 {
    font-family: Helvetica, sans-serif;
    color: teal;
}

h2 {
    font-family: monospace;
    color: magenta;
}

h3 {
    font-family: serif;
    color: orange;
    text-align: justify;
}
